@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-nord0 text-nord5 py-4 px-6 font-mono selection:bg-nord9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
